<h2><%= @user.name %>さんとのチャット</h2>
<table class="table table-hover table-inverse">
  <tbody>
  <div class="index">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <tr>
        <td><%= image_tag current_user.get_profile_image, size: '50x50' %></td>
        <td style="text-align: left;"><%= chat.message %></td>
        <td></td>
      </tr>
    <% else %>
      <tr>
        <th></th>
        <th style="text-align: right;"><%= chat.message %></th>
        <td><%= image_tag @user.get_profile_image, size: '50x50' %></td>
      </tr>
    <% end %>
  <% end %>
  </div
</tbody>
</table>

<%= form_with model: @chat, local: false do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
  <%= f.submit %>
<% end %>